@charset "utf-8";
@import url('./common.css');


/*공통*/
.title{
    font-size:1.6rem;
    letter-spacing: 2px;
    font-weight:400;
    color:#666;
    margin-bottom:20px;
}
.descript{
    line-height:2.4;
}

/*컨텐츠헤드*/
#cont_head{
    margin:50px 0;
}
#cont_head>div>div{
    background:#f1eee8;
    padding:30px 40px;
}


/*컨텐츠헤드이미지*/
#cont_head_img{
    margin-bottom:50px;
}



/*본문*/
#know_desc>div>article:first-of-type{
    margin-bottom:100px;
}

#know_desc>div>article:last-of-type>div>p{
    line-height:3;
    width:65%;
}
#know_desc>div>article:last-of-type>div>img{
    width:30%;
}