@charset "utf-8";
@import "layout.css";


/*investment 영역*/
#investment .flex{
    justify-content:center;
    text-align:center;
}
#investment .flex>figure:nth-child(2){
    margin:0 100px;
}

#investment figcaption{
    margin:20px 0;
    line-height:2;
    font-weight:500;
}
#investment>div>figure>img{
    cursor:pointer;
}


/*press 영역*/
#press>div.flex>article{
    height:700px;
    width:24%;
    background:url() no-repeat center;
    overflow:hidden;
}
#press>div.flex>article:nth-child(1){
    background-image:url('../images/press1.png')
}
#press>div.flex>article:nth-child(2){
    background-image:url('../images/press2.png')
}
#press>div.flex>article:nth-child(3){
    background-image:url('../images/press3.png')
}
#press>div.flex>article:nth-child(4){
    background-image:url('../images/press4.png')
}
#press>div.flex>article>a{
    display:block;
    width:100%;
    height:100%;    
    position:relative;
}
#press>div>article:hover>a>.press_con{
    bottom:7%;
}
#press>div>article:hover>a>.press_con>li:nth-of-type(2),
#press>div>article:hover>a>.press_con>li:nth-of-type(3),
#press>div>article:hover>a>.press_con>li:nth-of-type(4){
    display:block;
}
ul.press_con>li:nth-of-type(2),
ul.press_con>li:nth-of-type(3),
ul.press_con>li:nth-of-type(4){
    display:none;
}

ul.press_con{
    position:absolute;
    bottom:2%;
    color:#fff;
    padding:30px;
    box-sizing:border-box;
    transition:all .3s;
}
ul.press_con h4{
    font-size:1.8rem;
    font-weight:700;
    line-height:1.5;
}
span.line{
    display:block;
    width:80px;
    height:3px;
    background:gold;
    margin:20px 0;
}
ul.press_con p{
    line-height:1.3;
    font-size:0.9;
    margin:20px 0;
}
ul.press_con>li:last-child{text-align:right;}


/*배너 영역*/
#bnr>h2{
    display:none;
    visibility:hidden;
    width:0; height:0;
    overflow:hidden;
    text-indent:-9999px;
}
#bnr{
    height:765px;
    text-align:center;
    background:url('../images/main2.jpg') no-repeat center/cover;
    margin: 100px 0;
}


/*story 영역*/
#story>div.flex>article:nth-child(odd){
    background:rebeccapurple;
}
#story>div.flex>article:nth-child(even){
    background:aquamarine;
}
#story>div.flex{
    flex-wrap:wrap;
}
#story>div.flex>article{
    height:700px;
    position:relative;
}
#story>div.flex>article:nth-child(1),
#story>div.flex>article:nth-child(3){
    width:22%;
    background:url('../images/story1.png') no-repeat center/cover;
}
#story>div.flex>article:nth-child(3){
    background:url('../images/story3.png') no-repeat center/cover;
}
#story>div.flex>article:nth-child(2){
    width:54%;
    background:url('../images/story2.jpg') no-repeat center/cover;
}
#story>div.flex>article:nth-child(2)>a>.story_con{
    transition:all .3s;
    top:5%;
}
#story>div.flex>article:nth-child(2):hover>a>.story_con{
    top:10%;
}
#story>div.flex>article:last-child{
    width:100%;
    height:340px;
    margin-top:20px;
    background:url('../images/story4.jpg') no-repeat center/cover;
}
#story>div.flex>article:nth-child(4)>a>.story_con{
    transition:all .3s;
    left:2%;
}
#story>div.flex>article:nth-child(4):hover>a>.story_con{
    left:5%;
}
#story>.flex a{
    display:block;
    width:100%;
    height:100%;
    position:relative;
    padding:20px;
    box-sizing:border-box;
}

.story_con{
    position:absolute;
    color:#fff;
}
.story_con h4{
    font-size:1.8rem;
    font-weight:700;
    line-height:1.5;
}
.story_con>li:nth-child(2){
    margin:20px 0;
}
.story_con>li:nth-child(2) ~ li{
    line-height:1.3;
    font-size:0.9;
    margin:20px 0;
}

#story>div.flex>article:nth-child(1) .story_con,
#story>div.flex>article:nth-child(3) .story_con{
    bottom:-5%;
    transition:all .3s;
}
#story>div.flex>article:nth-child(1):hover .story_con,
#story>div.flex>article:nth-child(3):hover .story_con{
    bottom:10%;
}
#story>div.flex>article:nth-child(1) .story_con>li,
#story>div.flex>article:nth-child(3) .story_con>li{
    width:100%
}
#story>div.flex>article>a>.story_con>li:nth-of-type(2),
#story>div.flex>article>a>.story_con>li:nth-of-type(3){
    opacity:0;
    transition:all .3s;
}
#story>div.flex>article:hover>a>.story_con>li:nth-of-type(2),
#story>div.flex>article:hover>a>.story_con>li:nth-of-type(3){
    opacity:1;
}

/*제휴업체 영역*/
#family .flex{flex-flow:row wrap;}
#family .flex>li{
    width:360px; height:360px;
    background:url() no-repeat center/50%;
    overflow:hidden;
    text-indent:-9999px;
    box-sizing:border-box;
}
#family .flex>li>a{
    display:block; 
    width:100%; 
    height:100%;

}
#family .flex>li:nth-child(1){
    background-image:url('../images/ci1.png');
    border:1px solid #666;
}
#family .flex>li:nth-child(2){
    background-image:url('../images/ci2.png');
    border-top:1px solid #666;
    border-right:1px solid #666;
    border-bottom:1px solid #666;
}
#family .flex>li:nth-child(3){
    background-image:url('../images/ci3.png');
    border-top:1px solid #666;
    border-right:1px solid #666;
    border-bottom:1px solid #666;
}
#family .flex>li:nth-child(4){
    background-image:url('../images/ci4.png');
    border-top:1px solid #666;
    border-right:1px solid #666;
    border-bottom:1px solid #666;
}
#family .flex>li:nth-child(5){
    background-image:url('../images/ci5.png');
    border-left:1px solid #666;
    border-bottom:1px solid #666;
    border-right:1px solid #666;
}
#family .flex>li:nth-child(6){
    background-image:url('../images/ci6.png');
    border-bottom:1px solid #666;
    border-right:1px solid #666;
}
#family .flex>li:nth-child(7){
    background-image:url('../images/ci7.png');
    border-bottom:1px solid #666;
    border-right:1px solid #666;
}
#family .flex>li:nth-child(8){
    background-image:url('../images/ci8.png');
    border-bottom:1px solid #666;
    border-right:1px solid #666;
}



/*컨택트 영역*/
#contact{
    text-align:center;
    margin:0 0 120px 0;
}
#contact button{
    border:1px solid coral;
    outline:none;
    padding:10px 40px;
    background:#fff;
    cursor:pointer;
    margin:0 10px;
    
    
}
#contact button:hover{
    border:1px solid #666;
    background:#666;
    color:#ffd700;
    font-weight:bold;

}


